{
  "swagger" : "2.0",
  "info" : {
    "version" : "v1",
    "title" : "Guru API"
  },
  "host" : "api.getguru.com",
  "tags" : [ {
    "name" : "Aievaluations"
  }, {
    "name" : "Analytics",
    "description" : "Operations on team analytics"
  }, {
    "name" : "Announcements"
  }, {
    "name" : "Answers"
  }, {
    "name" : "API Docs",
    "description" : "Guru API, version 1"
  }, {
    "name" : "Card Comments"
  }, {
    "name" : "Card Verifiers",
    "description" : "Operations on card verifiers"
  }, {
    "name" : "Cards",
    "description" : "Operations on cards"
  }, {
    "name" : "Chat"
  }, {
    "name" : "Collections",
    "description" : "Operations on collections"
  }, {
    "name" : "Comments"
  }, {
    "name" : "Drafts"
  }, {
    "name" : "Folders"
  }, {
    "name" : "Knowledge-Centered Service",
    "description" : "Operations on Knowledge Centered Support"
  }, {
    "name" : "Knowledgeagents"
  }, {
    "name" : "Navigationpins"
  }, {
    "name" : "Oauthclients"
  }, {
    "name" : "People"
  }, {
    "name" : "Quality"
  }, {
    "name" : "Roles"
  }, {
    "name" : "Search"
  }, {
    "name" : "Sources"
  }, {
    "name" : "Tags",
    "description" : "Operations on tag categories"
  }, {
    "name" : "Tasks",
    "description" : "Operations on notifications"
  }, {
    "name" : "Team Members",
    "description" : "Operations on team members"
  }, {
    "name" : "Teams",
    "description" : "Operations on teams"
  }, {
    "name" : "Templates",
    "description" : "Operations on card templates"
  }, {
    "name" : "User Groups",
    "description" : "Operations on user groups"
  }, {
    "name" : "Users",
    "description" : "Operations on users"
  }, {
    "name" : "WhoAmI",
    "description" : "Operations on user identity"
  }, {
    "name" : "Widgets"
  }, {
    "name" : "Workspaces"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/api/v1/aievaluations" : {
      "get" : {
        "tags" : [ "Aievaluations" ],
        "summary" : "List AI evaluations",
        "description" : "",
        "operationId" : "get:/v1/aievaluations/getEvaluations",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "description" : "Paging token",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "questionFilter",
          "in" : "query",
          "description" : "Filter by question text",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "Filter by agent ID",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort Order",
          "required" : false,
          "type" : "string",
          "default" : "DESC",
          "enum" : [ "ASC", "DESC" ]
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AiEvaluation"
              }
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:aievaluations" ]
      },
      "post" : {
        "tags" : [ "Aievaluations" ],
        "summary" : "Create AI evaluation",
        "description" : "",
        "operationId" : "post:/v1/aievaluations/createEvaluation",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AiEvaluationCreateRequest"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AiEvaluation"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:aievaluations" ]
      }
    },
    "/api/v1/aievaluations/delete" : {
      "post" : {
        "tags" : [ "Aievaluations" ],
        "summary" : "Bulk delete AI evaluations",
        "description" : "",
        "operationId" : "post:/v1/aievaluations/deleteEvaluations",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AiEvaluationBulkDeleteRequest"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          },
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-roles" : [ "write:aievaluations" ]
      }
    },
    "/api/v1/aievaluations/export" : {
      "get" : {
        "tags" : [ "Aievaluations" ],
        "summary" : "Export AI evaluations as CSV",
        "description" : "",
        "operationId" : "get:/v1/aievaluations/exportEvaluations",
        "produces" : [ "text/csv" ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "string"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:aievaluations" ]
      }
    },
    "/api/v1/aievaluations/{evaluationId}" : {
      "get" : {
        "tags" : [ "Aievaluations" ],
        "summary" : "Get AI evaluation",
        "description" : "",
        "operationId" : "get:/v1/aievaluations/getEvaluation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "evaluationId",
          "in" : "path",
          "description" : "Evaluation ID",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AiEvaluation"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:aievaluations" ]
      },
      "delete" : {
        "tags" : [ "Aievaluations" ],
        "summary" : "Delete AI evaluation",
        "description" : "",
        "operationId" : "delete:/v1/aievaluations/deleteEvaluation",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "evaluationId",
          "in" : "path",
          "description" : "Evaluation ID",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          },
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-roles" : [ "write:aievaluations" ]
      }
    },
    "/api/v1/aievaluations/{evaluationId}/results" : {
      "get" : {
        "tags" : [ "Aievaluations" ],
        "summary" : "List evaluation results",
        "description" : "",
        "operationId" : "get:/v1/aievaluations/getEvaluationResults",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "evaluationId",
          "in" : "path",
          "description" : "Evaluation ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Paging token",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AiEvaluationResult"
              }
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:aievaluations" ]
      }
    },
    "/api/v1/teams/{teamId}/analytics" : {
      "get" : {
        "tags" : [ "Analytics" ],
        "summary" : "List events",
        "description" : "Returns all events for the team. Date range parameters can be added. A maximum of 500 events will be returned.  If more than 500 events exist, a link to the next page of results will be included in the Link header",
        "operationId" : "get:/v1/teams/analytics/getAnalytics",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "teamId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fromDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Event"
              }
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:teams" ]
      }
    },
    "/api/v1/teams/{teamId}/analytics/summarized" : {
      "get" : {
        "tags" : [ "Analytics" ],
        "summary" : "Get summarized analytics",
        "description" : "Returns summarized analytics for a card, optionally filtered by group, date range, and event types",
        "operationId" : "get:/v1/teams/analytics/getSummarizedAnalytics",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "teamId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "cardId",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "groupId",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "fromDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "toDate",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "eventTypes",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnalyticsSummary"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:teams" ]
      }
    },
    "/api/v1/announcements" : {
      "get" : {
        "tags" : [ "Announcements" ],
        "summary" : "Get Team Announcements",
        "description" : "",
        "operationId" : "get:/v1/announcements/getTeamAnnouncements",
        "produces" : [ "application/json" ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/KnowledgeAlertNotification"
              }
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:announcements" ]
      },
      "post" : {
        "tags" : [ "Announcements" ],
        "summary" : "Create an announcement. In place of a group ID, you may provide a user's email address to target an individual user.",
        "description" : "",
        "operationId" : "post:/v1/announcements/createAnnouncement",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/KnowledgeAlert"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KnowledgeAlertDelegated"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:announcements" ]
      }
    },
    "/api/v1/announcements/delegated" : {
      "get" : {
        "tags" : [ "Announcements" ],
        "summary" : "List announcements",
        "description" : "Returns all announcements owned by the authenticated user.  A maximum of 50 announcements will be returned.  If more than 50 announcements exist, a link to the next page of results will be included in the Link header",
        "operationId" : "get:/v1/announcements/getDelegatedAnnouncements",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "description" : "Paging token",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Sort field",
          "required" : false,
          "type" : "string",
          "enum" : [ "cardTitle", "dateSent", "percentRead", "collection", "sentBy" ]
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort order",
          "required" : false,
          "type" : "string",
          "enum" : [ "ASC", "DESC" ]
        }, {
          "name" : "view",
          "in" : "query",
          "description" : "Alerts View",
          "required" : false,
          "type" : "string",
          "enum" : [ "ALL_SENT", "MY_SENT", "ALL_SCHEDULED", "MY_SCHEDULED" ]
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/KnowledgeAlertDelegated"
              }
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:announcements" ]
      }
    },
    "/api/v1/announcements/{announcementId}" : {
      "get" : {
        "tags" : [ "Announcements" ],
        "summary" : "Get full Announcement by ID",
        "description" : "",
        "operationId" : "get:/v1/announcements/getAnnouncement",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "announcementId",
          "in" : "path",
          "description" : "Announcement ID",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/KnowledgeAlertNotification"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:announcements" ]
      },
      "delete" : {
        "tags" : [ "Announcements" ],
        "summary" : "Delete an announcement",
        "description" : "",
        "operationId" : "delete:/v1/announcements/deleteAnnouncement",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "announcementId",
          "in" : "path",
          "description" : "The ID of the announcement",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          },
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-roles" : [ "write:announcements" ]
      }
    },
    "/api/v1/announcements/{announcementId}/export" : {
      "post" : {
        "tags" : [ "Announcements" ],
        "summary" : "Export announcement user details",
        "description" : "Initiates the export of user details for the announcement with the given announcementId.  Results will be emailed when available.",
        "operationId" : "post:/v1/announcements/exportAnnouncementUsers",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "announcementId",
          "in" : "path",
          "description" : "The ID of the announcement",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/BulkOperationResponse"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:announcements" ]
      }
    },
    "/api/v1/announcements/{announcementId}/read" : {
      "put" : {
        "tags" : [ "Announcements" ],
        "summary" : "Mark an announcement as read",
        "description" : "",
        "operationId" : "put:/v1/announcements/markAnnouncementRead",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "announcementId",
          "in" : "path",
          "description" : "The ID of the announcement",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          },
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-roles" : [ "write:announcements" ]
      }
    },
    "/api/v1/announcements/{announcementId}/remind" : {
      "post" : {
        "tags" : [ "Announcements" ],
        "summary" : "Send announcement reminders",
        "description" : "Sends announcement reminders to any users who have not yet read the announcement",
        "operationId" : "post:/v1/announcements/sendAnnouncementReminder",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "announcementId",
          "in" : "path",
          "description" : "The ID of the announcement",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          },
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-roles" : [ "write:announcements" ]
      }
    },
    "/api/v1/announcements/{announcementId}/stats/full" : {
      "get" : {
        "tags" : [ "Announcements" ],
        "summary" : "Get Full Announcement Stats",
        "description" : "",
        "operationId" : "get:/v1/announcements/getAnnouncementStatFull",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "announcementId",
          "in" : "path",
          "description" : "Announcement ID",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnnouncementInsightSummary"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:announcements" ]
      }
    },
    "/api/v1/announcements/{announcementId}/stats/summary" : {
      "get" : {
        "tags" : [ "Announcements" ],
        "summary" : "Get Announcement Stats Summary",
        "description" : "",
        "operationId" : "get:/v1/announcements/getAnnouncementStatSummary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "announcementId",
          "in" : "path",
          "description" : "Announcement ID",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/AnnouncementInsightSummary"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:announcements" ]
      }
    },
    "/api/v1/announcements/{announcementId}/stats/users" : {
      "get" : {
        "tags" : [ "Announcements" ],
        "summary" : "Get Announcement User Stats",
        "description" : "",
        "operationId" : "get:/v1/announcements/getAnnouncementStatUsers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "announcementId",
          "in" : "path",
          "description" : "Announcement ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Paging token",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AnnouncementUser"
              }
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:announcements" ]
      }
    },
    "/api/v1/answers" : {
      "post" : {
        "tags" : [ "Answers" ],
        "summary" : "Ask a Question",
        "description" : "Ask Guru a question, and receive an AI-generated answer with up to three source records.",
        "operationId" : "post:/v1/answers/createAnswer",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "The Answer query spec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AnswerQuerySpec"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Answer"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:answers" ]
      }
    },
    "/api/v1/answers/minimal" : {
      "post" : {
        "tags" : [ "Answers" ],
        "summary" : "Ask a Question and receive an answer without explanations or sources",
        "description" : "Ask Guru a question, and receive an AI-generated answer.",
        "operationId" : "post:/v1/answers/createAnswerMinimal",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "The Answer query spec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AnswerQuerySpec"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Answer"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:answers" ]
      }
    },
    "/api/v1/answers/stream" : {
      "post" : {
        "tags" : [ "Answers" ],
        "summary" : "Create an answer for a specific question with streaming",
        "description" : "",
        "operationId" : "post:/v1/answers/createAnswerStreaming",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/event-stream" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "The Answer query spec",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AnswerQuerySpec"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully created answer thread",
            "schema" : {
              "$ref" : "#/definitions/ChatThread"
            }
          },
          "400" : {
            "description" : "Invalid request"
          },
          "403" : {
            "description" : "Forbidden access"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:answers" ]
      }
    },
    "/api/v1/answers/{id}" : {
      "delete" : {
        "tags" : [ "Answers" ],
        "summary" : "Archive an answer",
        "description" : "",
        "operationId" : "delete:/v1/answers/archiveAnswer",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of Answer",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          },
          "default" : {
            "description" : "successful operation"
          }
        },
        "x-roles" : [ "write:answers" ]
      }
    },
    "/api/v1/answers/{id}/assign" : {
      "put" : {
        "tags" : [ "Answers" ],
        "summary" : "Assign an answer to an expert",
        "description" : "",
        "operationId" : "put:/v1/answers/assignExpert",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of Answer",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Answer assignment information",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AnswerAssignment"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Answer"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:answers" ]
      },
      "delete" : {
        "tags" : [ "Answers" ],
        "summary" : "Unassign an answer from an expert",
        "description" : "",
        "operationId" : "delete:/v1/answers/unassignExpert",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of Answer",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Answer"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:answers" ]
      }
    },
    "/api/v1/answers/{id}/boosteddocuments" : {
      "get" : {
        "tags" : [ "Answers" ],
        "summary" : "Get boosted documents",
        "description" : "Search across Guru for boosted documents based on question",
        "operationId" : "get:/v1/answers/getBoostedDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of Answer",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Document"
              }
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:answers" ]
      }
    },
    "/api/v1/answers/{id}/relevantunverifieddocuments" : {
      "get" : {
        "tags" : [ "Answers" ],
        "summary" : "Get relevant unverified documents",
        "description" : "Get any relevant unverified documents for the answer",
        "operationId" : "get:/v1/answers/getRelevantUnverifiedDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of Answer",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Document"
              }
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:answers" ]
      }
    },
    "/api/v1/answers/{id}/restore" : {
      "post" : {
        "tags" : [ "Answers" ],
        "summary" : "Restore an archived answer",
        "description" : "",
        "operationId" : "post:/v1/answers/restoreAnswer",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "ID of Answer",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Answer"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:answers" ]
      }
    },
    "/api/v1/openapi.json" : {
      "get" : {
        "tags" : [ "API Docs" ],
        "summary" : "Gets the api openapi document",
        "description" : "",
        "operationId" : "get:/v1/getOpenAPI",
        "produces" : [ "application/json" ],
        "responses" : {
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          },
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/api/v1/swagger.json" : {
      "get" : {
        "tags" : [ "API Docs" ],
        "summary" : "Gets the api swagger document",
        "description" : "",
        "operationId" : "get:/v1/getSwagger",
        "produces" : [ "application/json" ],
        "responses" : {
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          },
          "default" : {
            "description" : "successful operation"
          }
        }
      }
    },
    "/api/v1/cards/{cardId}/comments" : {
      "get" : {
        "tags" : [ "Card Comments" ],
        "summary" : "List card comments",
        "description" : "Returns all undeleted card comments accessible to the authenticated user.  A maximum of 25 card comments will be returned.  If more than 25 card comments exist, a link to the next page of results will be included in the Link header",
        "operationId" : "get:/v1/cards/comments/getComments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Paging token",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "status",
          "required" : false,
          "type" : "string",
          "enum" : [ "OPEN", "RESOLVED" ]
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/CardComment"
              }
            }
          },
          "400" : {
            "description" : "Unable to decode paging token.  Paging tokens are generated by the system and can not be altered."
          },
          "403" : {
            "description" : "Forbidden access to card"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:cards" ]
      },
      "post" : {
        "tags" : [ "Card Comments" ],
        "summary" : "Create a card comment",
        "description" : "Comment content is required",
        "operationId" : "post:/v1/cards/comments/createComment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Card comment data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CardComment"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CardComment"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete request. Comment content is required"
          },
          "403" : {
            "description" : "Forbidden access to the card or comment"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/comments/{commentId}" : {
      "get" : {
        "tags" : [ "Card Comments" ],
        "summary" : "Find a card comment by ID",
        "description" : "",
        "operationId" : "get:/v1/cards/comments/getComment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "The ID of the comment",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CardComment"
            }
          },
          "403" : {
            "description" : "Forbidden access to the comment"
          },
          "404" : {
            "description" : "Comment could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:cards" ]
      },
      "put" : {
        "tags" : [ "Card Comments" ],
        "summary" : "Update a card comment",
        "description" : "",
        "operationId" : "put:/v1/cards/comments/updateComment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "The ID of the comment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Card comment data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CardComment"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CardComment"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete request. Comment content is required"
          },
          "403" : {
            "description" : "Forbidden access to the card or comment"
          },
          "404" : {
            "description" : "Card comment could not be found"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      },
      "delete" : {
        "tags" : [ "Card Comments" ],
        "summary" : "Delete a card comment",
        "description" : "",
        "operationId" : "delete:/v1/cards/comments/deleteComment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "The ID of the comment",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Comment deleted"
          },
          "403" : {
            "description" : "Forbidden access to the card comment"
          },
          "404" : {
            "description" : "Card comment could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/comments/{commentId}/replies" : {
      "get" : {
        "tags" : [ "Card Comments" ],
        "summary" : "List replies to a comment",
        "description" : "Returns all replies to a single comment accessible to the authenticated user.  A maximum of 25 card comments will be returned.  If more than 25 card comments exist, a link to the next page of results will be included in the Link header",
        "operationId" : "get:/v1/cards/comments/getCommentReplies",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "The ID of the comment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Paging token",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/CardCommentReply"
              }
            }
          },
          "400" : {
            "description" : "Unable to decode paging token.  Paging tokens are generated by the system and can not be altered."
          },
          "403" : {
            "description" : "Forbidden access to card"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:cards" ]
      },
      "post" : {
        "tags" : [ "Card Comments" ],
        "summary" : "Create a new reply to a comment",
        "description" : "",
        "operationId" : "post:/v1/cards/comments/createCommentReply",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "The ID of the comment",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Comment reply data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CardCommentReply"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful creation of comment reply",
            "schema" : {
              "$ref" : "#/definitions/CardCommentReply"
            }
          },
          "403" : {
            "description" : "Forbidden access to comment"
          },
          "404" : {
            "description" : "Card comment could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/comments/{commentId}/replies/{commentReplyId}" : {
      "put" : {
        "tags" : [ "Card Comments" ],
        "summary" : "Update a comment reply",
        "description" : "",
        "operationId" : "put:/v1/cards/comments/updateCommentReply",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "The ID of the comment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentReplyId",
          "in" : "path",
          "description" : "The ID of the comment reply",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Comment reply data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CardCommentReply"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CardCommentReply"
            }
          },
          "403" : {
            "description" : "Forbidden access to the card, comment, or reply"
          },
          "404" : {
            "description" : "Comment or reply could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      },
      "delete" : {
        "tags" : [ "Card Comments" ],
        "summary" : "Delete a comment reply",
        "description" : "",
        "operationId" : "delete:/v1/cards/comments/deleteCommentReply",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "The ID of the comment",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentReplyId",
          "in" : "path",
          "description" : "The ID of the comment reply",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CardCommentReply"
            }
          },
          "204" : {
            "description" : "Comment Reply deleted"
          },
          "403" : {
            "description" : "Forbidden access to the card, comment, or reply"
          },
          "404" : {
            "description" : "Comment or reply could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/comments/{commentId}/resolve" : {
      "put" : {
        "tags" : [ "Card Comments" ],
        "summary" : "Set a comment's status to resolved",
        "description" : "",
        "operationId" : "put:/v1/cards/comments/resolveComment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "The ID of the comment",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful update of comment status"
          },
          "403" : {
            "description" : "Forbidden access to comment"
          },
          "404" : {
            "description" : "Card comment could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/comments/{commentId}/unresolve" : {
      "put" : {
        "tags" : [ "Card Comments" ],
        "summary" : "Set a comment's status to open",
        "description" : "",
        "operationId" : "put:/v1/cards/comments/unresolveComment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "commentId",
          "in" : "path",
          "description" : "The ID of the comment",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful update of comment status"
          },
          "403" : {
            "description" : "Forbidden access to comment"
          },
          "404" : {
            "description" : "Card comment could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/verifiers" : {
      "get" : {
        "tags" : [ "Card Verifiers" ],
        "summary" : "List card verifiers",
        "description" : "",
        "operationId" : "get:/v1/cards/verifiers/getVerifiers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/UserVerifier"
              }
            }
          },
          "400" : {
            "description" : "Unable to decode paging token.  Paging tokens are generated by the system and can not be altered."
          },
          "403" : {
            "description" : "Forbidden access to card"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:cards" ]
      },
      "post" : {
        "tags" : [ "Card Verifiers" ],
        "summary" : "Replace card verifiers",
        "description" : "Create a card verifier and delete all existing verifiers",
        "operationId" : "post:/v1/cards/verifiers/upsertVerifier",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "List of card verifiers",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/CardVerifier"
            }
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CardVerifiers"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/verifiers/{verifierId}" : {
      "get" : {
        "tags" : [ "Card Verifiers" ],
        "summary" : "Get a card verifier",
        "description" : "",
        "operationId" : "get:/v1/cards/verifiers/getVerifier",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "verifierId",
          "in" : "path",
          "description" : "The email address of the verifier",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/UserVerifier"
            }
          },
          "403" : {
            "description" : "Forbidden access to the verifier"
          },
          "404" : {
            "description" : "Verifier could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:cards" ]
      }
    },
    "/api/v1/cards/extended" : {
      "post" : {
        "tags" : [ "Cards" ],
        "summary" : "Create a card with additional details",
        "description" : "Content and title are required. Card share status should be set to TEAM to make a card team shared.  Omitting the share status value or setting it to PRIVATE will result in a card that is only accessible by the card owner. This endpoint allows the verifier to be set upon card creation, rather than requiring a separate call.",
        "operationId" : "post:/v1/cards/createExtendedFact",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Card data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/NewCard"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Card"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete request. Content and title are required"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/verificationmgr" : {
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "List unverified cards",
        "description" : "Returns all unverified cards accessible by the authenticated user.  A maximum of 50 cards will be returned.  If more than 50 cards exist, a link to the next page of results will be included in the Link header",
        "operationId" : "get:/v1/cards/getVerificationManager",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "maxResults",
          "in" : "query",
          "description" : "Maximum results to return",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "sortField",
          "in" : "query",
          "description" : "Sort field",
          "required" : false,
          "type" : "string",
          "enum" : [ "lastModified", "lastModifiedBy", "boardCount", "verificationState", "copyCount", "viewCount", "favoriteCount", "followerCount", "dateCreated", "verificationInterval", "verifier", "owner", "originalOwner", "lastVerifiedBy", "lastVerified", "verificationReason", "popularity", "unverifiedViewsCopies", "nextVerificationDate", "collection", "title", "followedDate", "pendingAutoArchive", "relevancy" ]
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "description" : "Sort order",
          "required" : false,
          "type" : "string",
          "enum" : [ "ASC", "DESC" ]
        }, {
          "name" : "fieldDetail",
          "in" : "query",
          "description" : "Specifies the level of detail included in cards.  Default value is FULL",
          "required" : false,
          "type" : "string",
          "enum" : [ "NONE", "BASIC", "FULL" ]
        }, {
          "name" : "pendingAutoArchive",
          "in" : "query",
          "description" : "Filter the results for cards that are or are not pending auto archive",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Paging token",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Guru-ActivitySubType",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Card"
              }
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:cards" ]
      }
    },
    "/api/v1/cards/{cardId}" : {
      "delete" : {
        "tags" : [ "Cards" ],
        "summary" : "Delete a card",
        "description" : "",
        "operationId" : "delete:/v1/cards/deleteFact",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful deletion of card"
          },
          "403" : {
            "description" : "Forbidden access to the card"
          },
          "404" : {
            "description" : "Card could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/archivesettings" : {
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "Get scheduled archival information for a card",
        "description" : "Returns the scheduled archival details for the specified card, if any",
        "operationId" : "get:/v1/cards/getCardArchivalSettings",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Archival settings retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/ScheduleArchivalResponse"
            }
          },
          "204" : {
            "description" : "No scheduled archival found for this card"
          },
          "403" : {
            "description" : "Forbidden - user lacks permission to view card"
          },
          "404" : {
            "description" : "Card not found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:cards" ]
      },
      "put" : {
        "tags" : [ "Cards" ],
        "summary" : "Schedule a card for archival",
        "description" : "Schedules the specified card to be archived at a future date",
        "operationId" : "put:/v1/cards/scheduleCardArchival",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Schedule archival request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ScheduleArchivalRequest"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Card scheduled for archival successfully",
            "schema" : {
              "$ref" : "#/definitions/ScheduleArchivalResponse"
            }
          },
          "400" : {
            "description" : "Invalid request - invalid date or past date"
          },
          "403" : {
            "description" : "Forbidden - user lacks permission to schedule archival"
          },
          "404" : {
            "description" : "Card not found"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      },
      "delete" : {
        "tags" : [ "Cards" ],
        "summary" : "Cancel scheduled archival for a card",
        "description" : "Cancels the scheduled archival for the specified card",
        "operationId" : "delete:/v1/cards/cancelScheduledArchival",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Scheduled archival cancelled successfully"
          },
          "403" : {
            "description" : "Forbidden - user lacks permission to cancel scheduled archival"
          },
          "404" : {
            "description" : "Card not found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/boards" : {
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "List boards a card is on",
        "description" : "",
        "operationId" : "get:/v1/cards/getFactBoards",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Board"
              }
            }
          },
          "403" : {
            "description" : "Forbidden access to the card"
          },
          "404" : {
            "description" : "Card could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/content" : {
      "put" : {
        "tags" : [ "Cards" ],
        "summary" : "Update a card's content",
        "description" : "",
        "operationId" : "put:/v1/cards/updateFactContent",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Card content to update",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Card"
          }
        }, {
          "name" : "notify",
          "in" : "query",
          "description" : "Notify card content followers",
          "required" : false,
          "type" : "boolean"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Card"
            }
          },
          "403" : {
            "description" : "Forbidden access to the card"
          },
          "404" : {
            "description" : "Card could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/extended" : {
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "Get a card with additional details",
        "description" : "Load the card and the card teams and collaborators.  If there are more than 25 teams or collaborators, a Link header will be provided for the next page of results.",
        "operationId" : "get:/v1/cards/getExtendedFact",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "X-Guru-ActivitySubType",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Guru-Application",
          "in" : "header",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "X-Guru-ActivityID",
          "in" : "header",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Card"
            }
          },
          "403" : {
            "description" : "Forbidden access to the card"
          },
          "404" : {
            "description" : "Card could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:cards" ]
      },
      "put" : {
        "tags" : [ "Cards" ],
        "summary" : "Update a card with additional details",
        "description" : "This endpoint allows the verifier to be set upon card creation, rather than requiring a separate call. Content and title are required. Card share status should be set to TEAM to make a card team shared. Omitting the share status value or setting it to PRIVATE will result in a card that is only accessible by the card owner. If tags are omitted or an empty list, then all existing tags will be removed from the card.",
        "operationId" : "put:/v1/cards/updateExtendedFact",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Card data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Card"
          }
        }, {
          "name" : "notify",
          "in" : "query",
          "description" : "Notify card content followers",
          "required" : false,
          "type" : "boolean"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Card"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete request. Content and title are required"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/favoritelists" : {
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "List favorite lists including this card",
        "description" : "",
        "operationId" : "get:/v1/cards/getFactFavoriteLists",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/FavoriteList"
              }
            }
          },
          "403" : {
            "description" : "Forbidden access to the card"
          },
          "404" : {
            "description" : "Card could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/folders" : {
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "List folders a card is on",
        "description" : "",
        "operationId" : "get:/v1/cards/getFactFolders",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Folder"
              }
            }
          },
          "403" : {
            "description" : "Forbidden access to the card"
          },
          "404" : {
            "description" : "Card could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/unverify" : {
      "post" : {
        "tags" : [ "Cards" ],
        "summary" : "Unverify a card",
        "description" : "Mark the card with the given cardId as unverified",
        "operationId" : "post:/v1/cards/unverifyFact",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Card"
            }
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "403" : {
            "description" : "Forbidden access to the resource"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/verify" : {
      "put" : {
        "tags" : [ "Cards" ],
        "summary" : "Verify a card",
        "description" : "",
        "operationId" : "put:/v1/cards/verify",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful verification of card"
          },
          "403" : {
            "description" : "Forbidden access to the card, user not authorized to verify the card"
          },
          "404" : {
            "description" : "Card could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/versions" : {
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "List a card's version history",
        "description" : "",
        "operationId" : "get:/v1/cards/getVersionHistory",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "token",
          "in" : "query",
          "description" : "Paging token",
          "required" : false,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Card"
              }
            }
          },
          "403" : {
            "description" : "Forbidden access to the card"
          },
          "404" : {
            "description" : "Card could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:cards" ]
      }
    },
    "/api/v1/cards/{cardId}/versions/{version}" : {
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "Get a specific card version",
        "description" : "version may be 'lastVerified' which will return the most recently verified version of the card.",
        "operationId" : "get:/v1/cards/getFactVersion",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "cardId",
          "in" : "path",
          "description" : "The ID of the card",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "version",
          "in" : "path",
          "description" : "Version",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/Card"
            }
          },
          "403" : {
            "description" : "Forbidden access to the card"
          },
          "404" : {
            "description" : "Card could not be found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:cards" ]
      }
    },
    "/api/v1/chat/ask" : {
      "post" : {
        "tags" : [ "Chat" ],
        "summary" : "Ask a question and get a synchronous answer",
        "description" : "",
        "operationId" : "post:/v1/chat/askQuestion",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Question and configuration",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AnswerQuerySpec"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully answered the question",
            "schema" : {
              "$ref" : "#/definitions/ChatAskResponse"
            }
          },
          "400" : {
            "description" : "Invalid request"
          },
          "403" : {
            "description" : "Forbidden access"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:chat" ]
      }
    },
    "/api/v1/chat/ask-async" : {
      "post" : {
        "tags" : [ "Chat" ],
        "summary" : "Ask a question asynchronously",
        "description" : "",
        "operationId" : "post:/v1/chat/askQuestionAsync",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Question and configuration",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AnswerQuerySpec"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Answer reached a final state (completed or errored)",
            "schema" : {
              "$ref" : "#/definitions/ChatAskResponse"
            }
          },
          "202" : {
            "description" : "Answer is still pending"
          },
          "400" : {
            "description" : "Invalid request"
          },
          "403" : {
            "description" : "Forbidden access"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:chat" ]
      }
    },
    "/api/v1/chat/ask-async/{threadId}/{turnId}" : {
      "get" : {
        "tags" : [ "Chat" ],
        "summary" : "Get the result of an async ask operation",
        "description" : "",
        "operationId" : "get:/v1/chat/getAsyncAnswer",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "threadId",
          "in" : "path",
          "description" : "Chat thread ID",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "turnId",
          "in" : "path",
          "description" : "Turn ID",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Answer reached a final state (completed or errored)",
            "schema" : {
              "$ref" : "#/definitions/ChatAskResponse"
            }
          },
          "202" : {
            "description" : "Answer is still pending"
          },
          "403" : {
            "description" : "Forbidden access"
          },
          "404" : {
            "description" : "Thread or turn not found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "read:chat" ]
      }
    },
    "/api/v1/chat/messages/{messageId}/actions" : {
      "post" : {
        "tags" : [ "Chat" ],
        "summary" : "Perform action on chat message",
        "description" : "",
        "operationId" : "post:/v1/chat/performMessageAction",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "messageId",
          "in" : "path",
          "description" : "Chat message ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Action request",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/MessageActionRequest"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully performed action on chat message",
            "schema" : {
              "$ref" : "#/definitions/ChatMessage"
            }
          },
          "400" : {
            "description" : "Invalid request or unknown action"
          },
          "403" : {
            "description" : "Forbidden access to chat message"
          },
          "404" : {
            "description" : "Chat message not found"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:chat" ]
      }
    },
    "/api/v1/chat/plans" : {
      "get" : {
        "tags" : [ "Chat" ],
        "summary" : "Get all automation plans created by the current user",
        "description" : "",
        "operationId" : "get:/v1/chat/getAutomationPlans",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "description" : "Paging token",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "agentId",
          "in" : "query",
          "description" : "Filter plans by knowledge agent ID",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "statusType",
          "in" : "query",
          "description" : "Filter plans by status type (ACTIVE or ARCHIVED). Defaults to ACTIVE.",
          "required" : false,
          "type" : "string",
          "enum" : [ "ALL", "ACTIVE", "PAUSED", "ARCHIVED" ]
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved automation plans",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/AutomationPlan"
              }
            }
          },
          "403" : {
            "description" : "Forbidden access"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "read:chat" ]
      },
      "post" : {
        "tags" : [ "Chat" ],
        "summary" : "Create a new automation plan",
        "description" : "",
        "operationId" : "post:/v1/chat/createAutomationPlan",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Automation Plan",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AutomationPlan"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully created automation plan",
            "schema" : {
              "$ref" : "#/definitions/AutomationPlan"
            }
          },
          "400" : {
            "description" : "Invalid request"
          },
          "403" : {
            "description" : "Forbidden access"
          },
          "401" : {
            "description" : "Request was unauthorized"
          },
          "404" : {
            "description" : "Resource could not be found"
          }
        },
        "x-roles" : [ "write:chat" ]
      }
    },
    "/api/v1/chat/plans/{planId}" : {
      "put" : {
        "tags" : [ "Chat" ],
        "summary" : "Update an existing automation plan",
        "description" : "Full-replace semantics: name, content, and cronSchedule are all required and replace the existing values. Partial updates are not supported.",
        "operationId" : "put:/v1/chat/updateAutomationPlan",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "planId",
          "in" : "path",
          "description" : "Automation plan ID",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Automation Plan",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AutomationPlan"
          }
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully updated automation plan",
            "schema" : {
              "$ref" : "#/definitions/AutomationPlan"
            }
          },
          "400" : {
            "description" : "Invalid request"
          },
          "403" : {
            "description" : "Forbidden - only the creator can edit the plan"
          },
          "404" : {
            "description" : "Automation plan not found"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:chat" ]
      },
      "delete" : {
        "tags" : [ "Chat" ],
        "summary" : "Delete an automation plan",
        "description" : "",
        "operationId" : "delete:/v1/chat/deleteAutomationPlan",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "planId",
          "in" : "path",
          "description" : "Automation plan ID",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "204" : {
            "description" : "Successfully deleted automation plan"
          },
          "403" : {
            "description" : "Forbidden - only the creator can delete the plan"
          },
          "404" : {
            "description" : "Automation plan not found"
          },
          "400" : {
            "description" : "Invalid/Incomplete Request"
          },
          "401" : {
            "description" : "Request was unauthorized"
          }
        },
        "x-roles" : [ "write:chat" ]
      }
    },
    "/api/v1/chat/plans/{planId}/pause" : {
      "post" : {
        "tags" : [ "Chat" ],
        "summary" : "Pause an active automation plan",
        "description" : "",
        "operationId" : "post:/v1/chat/pauseAutomationPlan",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "planId",
          "in" : "path",
          "description" : "Automation plan ID",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully paused automation plan (idempotent)",
            "schema" : {
              "$ref" : "#/definitions/AutomationPlan"
            }
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
[...]
